# mobile
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# dependencies
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

# frameworks
.expo/*

# macOS
.DS_Store

# ide
.idea

# generated / buggy stuff
.eslintcache
